* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  padding: 0 16px;
}

.items-container {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 270px;
  height: 425px;
  margin: 16px;
  float: left;
}

.items-container h2 {
  text-align: center;
  margin-bottom: 10px;
}

.items-container img {
  width: 70%;
  height: 150px;
  object-fit: cover;
  border-radius: 7px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}